<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img [src]="banner" class="d-block w-100" alt="..." height = 900>
        <div class="carousel-caption d-none d-md-block">
            <h1 style="color: rgb(230, 233, 75);">I'm Yash Rastogi</h1>
            <p style="color: #ebe985; font-size: 30px;"><b>"If data is the new oil, then what about the container?"</b><br>
                Software Engineer , AI & Analytics Enthusiast with working knowledge in Data Collection, Pre Processing, and Analysis along with working knowledge with Descriptive, Diagnostic, and Predictive Analytics.
            </p>
          </div>
      </div>
      
    </div>
  </div>


<div class="container">
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <br><br><br>
      <!-- <img class="img-responsive mt-5 mb-5 " [src]="banner" alt="Code for Interview" width="1325" height="900"> -->

    </div>
  </div>
  <br><br><br><br>
  <h4 class="display-4 mt-5 text-center">myportfolio</h4>
  <hr class="mb-5 w-25 mt-3" style="border-top: 2px solid #FF8C00; border-radius: 100%;"><br><br>
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <p><b>I am pursuing my Masters in Computer Application from the University of Hyderabad. </b>
      </p>
      <p> My skillset ranges from Excel to Python , Tableau , DBMS , Core java , Springboot and Angular. I have used advance Excel functions like VlookUp and Pivot Table to ETL in Python. In one of the projects I have done Data Extraction using API in python and later on data pre-processing and data transformation according to business needs using Python Pandas library itself.

        If you are interested, you can view some of my favorite projects listed down below
        <br><br>


        Need something built or simply want to have chat? Reach out to me on <a
          href="https://www.linkedin.com/in/yash-rastogi-2530a91b2/">linkedin</a> or send me an <span class="text-info"
          href="19mcmc61@uohyd.ac.in">email</span>.
      </p>
    </div>
    <div class="col-lg-6 col-sm-12 mb-5">

        <p><b>MY PERSONAL INTERESTS</b></p>
        <p>When I am not coding my next project, I enjoy spending my time doing any of the following:
        </p>
      
      <ul>
        <li>One with the restless feet because I live to travel</li>
        <li>Action Movies are resident of my eyes because I am busy watching them</li>
        <li>I'm addicted to Instagram as an alcoholic to a beer</li>
        <li>And I am meeting more people and creating new opportunities.</li>
      </ul>
    </div>
  </div><br><br>
  <h1 class="mt-5 mb-5 text-center">Projects</h1>
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <div class="mt-5 mr-5">
        <img class="img-thumbnail" [src]="project1" alt="Movies Recommendation System">
      </div>
    </div>
    <div class="col-lg-6 col-sm-12 mt-5 mb-5">
      <p class="text-secondary mt-3"> My Latest Work!</p>
      <h2>Movies Recommendation System <a href="https://movie-recommendation-system12.herokuapp.com/">Click here!</a></h2>
      <p class="mt-4">Content Based Recommender System recommends movies similar to the movie user likes and analyses the sentiments on the reviews given by the user for the movie</p>
      <ul>
        <li>Involved in Data Collection, web scraping, Dashboard building in tableau, Feature Engineering, Feature Selection</li>
        <li>Cosine Similarity , Naive Bayes Classifier</li>
        <li>Language Used - Python</li>
        <li>Libraries Used - Pandas, seaborn , Matplotlib</li>
        
      </ul>
      <!-- <h5><i class="fa fa-arrow-right mr-2 text-primary mr-3" aria-hidden="true"></i>Java Projects</h5>
      <h5><i class="fa fa-arrow-right mr-2 text-primary mr-3" aria-hidden="true"></i>JavaScript Projects</h5>
      <h5><i class="fa fa-arrow-right mr-2 text-primary mr-3" aria-hidden="true"></i>Spring Boot Projects with
        Angular 8</h5>
      <h5><i class="fa fa-arrow-right mr-2 text-primary mr-3" aria-hidden="true"></i>AMCAT Preparation Series</h5> -->
    </div>
  </div><br><br>
  <p class="text-secondary mt-5 text-center">Some of my latest work</p>
  <div class="row mt-3 mb-5">
    <div class="col-lg-4 col-sm-12 p-4">
        <h3>HR Analytics KPI Tableau Dashboard</h3>
      <img class="img img-fluid" [src]="dashboard1" alt="Java Projects">
    </div>
    <div class="col-lg-4 col-sm-12 p-4">
        <h3>San Francisco Airport Dashboard</h3>
      <img class="img img-fluid" [src]="dashboard2" alt="AMCAT Series">
    </div>
    <div class="col-lg-4 col-sm-12 p-4">
        <h3>Social Media Spend Analytics Dashboard</h3>
      <img class="img img-fluid" [src]="dashboard3" alt="CoCubes Series">
    </div>
  </div><br><br>
  <div class="mt-5 p-5">
      <h3>A java desktop application using which one can perform all operation related to travelling.</h3>
      <ul>
          <li>Language Used: Core java</li>
          <li>concept used: Swing & AWT</li>
          <li>database used: MYSQL</li>
      </ul>
    <img class="img-fluid" [src]="Travel" alt="All Videos">
  </div><br><br><br>

  <p class="text-secondary mt-5 text-center">Some of my college pics</p>
  <div class="row mt-3 mb-5">
    <div class="col-lg-6 col-sm-12 p-4">
        <h3>Project Presentation</h3>
      <img class="img img-fluid" [src]="banner1" alt="Java Projects" style="height: 400px;">
    </div>
    <div class="col-lg-6 col-sm-12 p-4">
        <h3>University of Hyderabad</h3>
      <img class="img img-fluid" [src]="banner2" alt="AMCAT Series" style="height: 400px;">
    </div>
    <!-- <div class="col-lg-4 col-sm-12 p-4">
        <h3>University of Hyderabad</h3>
      <img class="img img-fluid" [src]="college" alt="AMCAT Series" style="height: 400px;">
    </div> -->
  </div>
    

  <p class="text-secondary mt-5 text-center">Need something built or simply want to have chat?</p>
  <div class="row mt-5 mb-5">
    <div class="col-lg-5 col-sm-12 mt-5 p-5">
      <p class="text-secondary">Getting in touch is easy!</p>
      <h2>Connect with me on linkedin</h2>
      
      <p class="mt-4"><b>Profile</b> - Yash Rastogi
        <br><a href="https://www.linkedin.com/in/yash-rastogi-2530a91b2/">click here</a>
      </p>

    </div>
    <div class="col-lg-7 col-sm-12 p-5">
      <img class="img-fluid" [src]="footer" alt="connect with me on linkedin">
    </div>
  </div>
  
</div>

