<div class = "container">
    <div class = "row mt-5">
        <div class="col-lg-9 col-sm-12 col-xs-12">
            <input type = "text" placeholder="Enter Username" class="form-control" name = "username" [(ngModel)] = "username">

        </div>

        <div class="col-lg-3 col-sm-12 col-xs-12">
            <button type = "button" class="btn btn-info" (click)="findByUsername()">Search</button>
        </div>
    </div>

    <h2 class="mt-5 mb-4 display-4" >Result</h2>
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Age</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{user.username}}</td>
                    <td>{{user.firstname}}</td>
                    <td>{{user.lastname}}</td>
                    <td>{{user.age}}</td>
                    <td>{{user.password}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
